In [1]:
import pandas as pd
dict = {'a':3,'b':'cat','c':2.5}
pd.Series(dict)

a      3
b    cat
c    2.5
dtype: object

In [4]:
oneD = pd.Series([100,'cat',310,'gog',500],['Amy','Bobby','Cat','Don','Emma'])

In [5]:
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [7]:
oneD = pd.Series([100,'cat',310,'gog',500],index=['Amy','Bobby','Cat','Don','Emma'])

In [8]:
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [12]:
oneD.loc[['Cat','Emma']]

Cat     310
Emma    500
dtype: object

In [13]:
oneD[[0,3,4]]

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8732\3816589157.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  oneD[[0,3,4]]

Amy     100
Don     gog
Emma    500
dtype: object

In [15]:
oneD[[0]]

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8732\1088540822.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  oneD[[0]]

Amy    100
dtype: object

In [16]:
oneD.iloc[1]

'cat'

In [17]:
'cat' in oneD

False

In [18]:
'Cat' in oneD

True

In [19]:
d = {'A':pd.Series([100.,200.,300.], index=['apple','pear','orange']),
     'B':pd.Series([111.,222.,333.,4444.],index=['apple','pear','orange','melon'])}

In [20]:
df = pd.DataFrame(d)
print(df)

            A       B
apple   100.0   111.0
melon     NaN  4444.0
orange  300.0   333.0
pear    200.0   222.0

In [21]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [22]:
df.index

Index(['apple', 'melon', 'orange', 'pear'], dtype='object')

In [23]:
df.columns

Index(['A', 'B'], dtype='object')

In [24]:
pd.DataFrame(df,index=['orange','melon','apple'],columns=['A'])

            A
orange  300.0
melon     NaN
apple   100.0