In [21]:
import sqlite3

In [22]:
conn = sqlite3.connect("ipl/database.sqlite")

In [23]:
cur = conn.cursor()

In [24]:
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [25]:
for name in res:
    print(name)

('Player',)
('Extra_Runs',)
('Batsman_Scored',)
('Batting_Style',)
('Bowling_Style',)
('Country',)
('Season',)
('City',)
('Outcome',)
('Win_By',)
('Wicket_Taken',)
('Venue',)
('Extra_Type',)
('Out_Type',)
('Toss_Decision',)
('Umpire',)
('Team',)
('Ball_by_Ball',)
('sysdiagrams',)
('sqlite_sequence',)
('Match',)
('Rolee',)
('Player_Match',)

In [26]:
cur.execute("Select * from city limit 5;")

In [27]:
results = cur.fetchall()
print(results)

[(1, 'Bangalore', 1), (2, 'Chandigarh', 1), (3, 'Delhi', 1), (4, 'Mumbai', 1), (5, 'Kolkata', 1)]

In [28]:
import pandas as pd

In [29]:
query = "SELECT * from Match;"

In [30]:
df = pd.read_sql_query(query,conn)

In [31]:
df.head()

,Match_Id,Team_1,Team_2,Match_Date,Season_Id,Venue_Id,Toss_Winner,Toss_Decide,Win_Type,Win_Margin,Outcome_type,Match_Winner,Man_of_the_Match
0,335987,2,1,2008-04-18 00:00:00,1,1,2,1,1,140.0,1,1.0,2.0
1,335988,4,3,2008-04-19 00:00:00,1,2,3,2,1,33.0,1,3.0,19.0
2,335989,6,5,2008-04-19 00:00:00,1,3,5,2,2,9.0,1,6.0,90.0
3,335990,7,2,2008-04-20 00:00:00,1,4,7,2,2,5.0,1,2.0,11.0
4,335991,1,8,2008-04-20 00:00:00,1,5,8,2,2,5.0,1,1.0,4.0

In [32]:
cur.close()
conn.close()